<!-- reset-password.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Restablecer tu Contraseña</h2>
  <form (ngSubmit)="onResetPassword()" #resetPasswordForm="ngForm">
    <ion-item>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input
        type="text"
        name="username"
        [(ngModel)]="username"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nueva Contraseña</ion-label>
      <ion-input
        type="password"
        name="newPassword"
        [(ngModel)]="newPassword"
        required
        minlength="4"
      ></ion-input>
    </ion-item>

    <div *ngIf="resetPasswordForm.submitted && resetPasswordForm.controls['username']?.invalid">
      <ion-text color="danger">
        <p>Por favor, introduce un nombre de usuario válido.</p>
      </ion-text>
    </div>

    <div *ngIf="resetPasswordForm.submitted && resetPasswordForm.controls['newPassword']?.invalid">
      <ion-text color="danger">
        <p>La contraseña debe tener al menos 4 caracteres.</p>
      </ion-text>
    </div>

    <ion-button expand="full" type="submit" [disabled]="resetPasswordForm.invalid">
      Restablecer Contraseña
    </ion-button>
  </form>

  <ion-footer>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button routerLink="/login">Volver a Iniciar Sesión</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-content>