<ion-header>
  <ion-toolbar color="custom-dark">
    <ion-buttons slot="start">
      <ion-button>
        <ion-img src="assets/img/logo-check-app.png" style="width: 30px; height: 30px;"></ion-img>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center white-text">CheckApp</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="menu" slot="icon-only" class="custom-menu-button"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <h1 class="main-title">RESTABLECER CONTRASEÑA</h1>
  <p class="subtitle">Ingresa tus datos</p>

    <ion-card class="resetPassword-card">
      <ion-card-content>
        <form (ngSubmit)="onResetPassword()" #resetPasswordForm="ngForm">

          <!-- NOMBRE DE USUARIO -->
          <ion-label>Nombre de Usuario</ion-label>
          <ion-item>            
            <ion-input 
            [(ngModel)]="username"
            type="text"
            maxlength="8" 
            minlength="3" 
            required 
            placeholder="Ingresa nombre de usuario" 
            autocomplete="off"             
            name="username">
            </ion-input>
          </ion-item>

          <!-- CONTRASEÑA NUEVA -->
          <ion-label>Nueva Contraseña</ion-label>
          <ion-item>          
            <ion-input
              [(ngModel)]="newPassword"
              type="password"
              name="newPassword"
              maxlength="4"
              required
              placeholder="Ingresa contraseña de 4 digitos"
            ></ion-input>
          </ion-item>

          <!-- MENSAJES DE ERROR -->
          <div *ngIf="resetPasswordForm.submitted && resetPasswordForm.controls['username']?.invalid">
            <ion-text color="danger">
              <p>Por favor, introduce un nombre de usuario válido.</p>
            </ion-text>
          </div>

          <div *ngIf="resetPasswordForm.submitted && resetPasswordForm.controls['newPassword']?.invalid">
            <ion-text color="danger">
              <p>La contraseña debe tener al menos 4 caracteres.</p>
            </ion-text>
          </div>

          <!-- BOTON RESTABLECER CONTRASEÑA -->
          <ion-button expand="block" type="submit" class="custom-reset-button" [disabled]="resetPasswordForm.invalid">
            Restablecer
          </ion-button>
        </form>
        <!-- LINK A LOGIN -->
        <ion-text class="volverLogin">
          <p class="link-go-login">
            <a routerLink="/login">Volver a Iniciar Sesión</a>
          </p>
        </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="custom-dark">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="home" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>