<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ingreso de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <ion-card-content>
        <ion-item>
          <ion-label class="custom-label" position="floating">Usuario</ion-label>
          <ion-input 
            [(ngModel)]="username" 
            (ionFocus)="clearInput('username')" 
            maxlength="8" 
            minlength="3" 
            required
            placeholder="Ingresa aquí tu usuario" 
            autocomplete="off"
            name="username">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="custom-label" position="floating">Contraseña</ion-label>
          <ion-input 
            [(ngModel)]="password" 
            (ionFocus)="clearInput('password')" 
            type="password" 
            maxlength="4" 
            required
            placeholder="Ingresa aquí tu contraseña" 
            autocomplete="off"
            name="password">
          </ion-input>
        </ion-item>
        <ion-button expand="full" type="submit" [disabled]="!loginForm.valid">INGRESAR</ion-button>
        <ion-button expand="full" color="secondary" (click)="goToCreateAccount()">Crear Cuenta Nueva</ion-button>
      </ion-card-content>
    </form>
  </ion-card>
</ion-content>



