ion-card {
    margin: 20px;
  }
  
  ion-item {
    margin-bottom: 15px;
  }

  .custom-label {
    margin-bottom: 20px; /* Ajusta el valor para aumentar o disminuir el espacio */
    margin-top: 5px;
  }
  