<ion-header>
  <ion-toolbar color="custom-dark">
    <ion-buttons slot="start">
      <ion-button>
        <ion-img src="assets/img/logo-check-app.png" style="width: 30px; height: 30px;"></ion-img>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center white-text">CheckApp</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="menu" slot="icon-only" class="custom-menu-button"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <h1 class="main-title">REGISTRO</h1>
  <p class="subtitle">Ingresa tus datos</p>

    <ion-card class="registro-card">
      <ion-card-content>
        <form #registroForm="ngForm" (ngSubmit)="onRegister()">

          <!-- NOMBRE DE USUARIO -->
          <ion-label>Nombre de Usuario</ion-label>
          <ion-item>            
            <ion-input 
              [(ngModel)]="username"
              type="text"
              maxlength="8" 
              minlength="3" 
              required 
              placeholder="Ingresa nombre de usuario" 
              autocomplete="off"             
              name="username">
            </ion-input>
          </ion-item>
        
          <!-- CONTRASEÑA -->
          <ion-label>Contraseña</ion-label> 
          <ion-item>            
            <ion-input 
              [(ngModel)]="password"
              type="password"
              maxlength="4" 
              required
              placeholder="Ingresa contraseña de 4 dígitos"
              autocomplete="off"
              name="password">
            </ion-input>
          </ion-item>
        
          <!-- BOTÓN CREAR CUENTA -->
          <ion-button expand="block" type="submit" class="custom-registro-button" [disabled]="registroForm.invalid">
            Crear Cuenta
          </ion-button>
        </form>
        
         <!-- LINK DE YA TENGO UNA CUENTA -->
        <ion-text class="yaTengoCuenta">
          <p class="link-go-login">
            <a (click)="goToLogin()">Ya tengo una cuenta</a>
          </p>
        </ion-text>
      </ion-card-content>
    </ion-card>   
  </ion-content>

<ion-footer>
  <ion-toolbar color="custom-dark">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="home" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
